*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #C9C5C5;
    overflow: hidden;
    font-family: "Berlin Sans FB", sans-serif;
}
header{
    background-image: url("Fotos/Fondo titulo.jpg");
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 25%;
    background-position: center;
    background-size: cover;
    z-index: 44;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 3.5em;
    padding-top: 1%;
    color: #EEDFDF;
    border-bottom:solid #DC001B;
    margin-left: 15%;
    width: 70%;
}
h2{
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    font-size: 2em;
    color: #EEDFDF;
}
#nav{
    margin: 0 auto;
    background-color: transparent;
    position: absolute;
    top: 80%;
    z-index: 14;
}
ul{
    list-style: none;
}
li{
    width: 150px;
}
#barra li>a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    min-width: 100px;
}
#barra>li{
    text-align:center;
    float:left;
}
#barra li>a:hover{
    color: #DC001B;
    background-color: rgba(94,92,92,.3);
}
#barra>li>ul{
    display: none;
    opacity: 0;
}
#barra>li:hover>ul{
    display: block;
    opacity: 1;
    transition: opacity 1.5s;
}
ul.oculto{
    display: none;
    opacity: 0;
}
li:hover>ul.oculto{
    display: block;
    opacity: 1;
    transition: opacity 1.5s;
}
main{
    position: absolute;
    left: 0;
    top: 25%;
    height: 65%;
}
.mitad{
    height: 75%;
}
.fotos{
    width: 23%;
    float:left;
    padding:10px;
    margin-top: 0;
}
.fotos img{
    width: 100%;
    border-radius: 5px;
}
footer{
    background-image: url("Fotos/Fondo titulo.jpg");
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-position: center;
    background-size: cover;
}
.botones{
    color: white;
    background-color: #DC001B;
    width: 5%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}
#volver{
    position: absolute;
    top: 40%;
    left: 1%;
}
#siguiente{
    position: absolute;
    top: 40%;
    right: 1%;
}
.botones:hover{
    background-color: #940E1E;
}
.botones>a{
    text-decoration: none;
    color: white;
    display: block;
}
#pieinicio{
    height: 15%;
}
#foot{
    margin-top: 8px;
}
#largo{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
#practica{
    background-image: url("./Fotos/Practica.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
}
#proyecto{
    background-image: url("./Fotos/Proyecto.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    bottom: 0;
}
#paginas{
    width: 100%;
    height: 65%;
}
.centro{
    text-align: center;
    line-height: 700%;
    color: #DC001B;
    font-size: 4em;
}
.dos:hover{
    opacity: .8;
}
#parte1{
    background-image: url("./Fotos/Yo.jpg");
}
#parte2{

}
#parte3{

}
#parte4{

}
.imagen{
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 35%;
    height: 100%;
    left: 0;
    bottom: 0;
}
.texto{
    position: absolute;
    left: 36%;
    width: 64%;
}
.texto>p{
    font-size: 2em;
    margin: 15px 5px 5px 5px;
    color: #1E1C1C;
}
@media screen and (max-width: 1000px) {
    #nav{
        display: none;
    }
    h1{
        margin-top: 30px;
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    main{
        height: 100%;
        overflow: scroll;
    }
    .fotos{
        width: 45%;
        float:left;
        padding:10px;
        margin-top: 0;
    }
    #pieinicio{
        display: none;
    }
    .botones{
        width: 10%;
    }
    .imagen{
        display: none;
    }
    .texto{
        position: absolute;
        left: 0%;
        width: 99%;
        overflow: hidden;
    }
    .texto>p{
        font-size: 1.5em;
    }
}